.Container {
    width: 1200px;
    margin: auto;
}

.header-flexbox {
    display: flex;
    justify-content: space-between;
}

.header-text h1 a {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    margin-left: 40px;
}

.header-text h1 {
    margin-top: 20px;
}

.header-navigation {}

.header-navigation ul {
    list-style: none;
    display: flex;
    margin-top: 20px;
}

.header-navigation ul li {}

.header-navigation ul li a {
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    white-space: nowrap;
    transition: 0.3s;
    color: #013289;
    line-height: 1.9;
    text-decoration: none;


}

.header-navigation ul li .btn-primary {
    background: #4154f1;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 7px;
    color: #fff;
}

.banner {

    margin-top: 70px;
    margin-left: 32px;
}

.banner-wrapper {
    display: flex;

}

.banner-text {
    width: 67%;
    margin-top: 20px;

}

.banner-text h2 {
    display: inline-block;
    font-size: 49px;
    font-weight: 700;
    color: #012970;
    margin-left: 48px;
}

.banner-text p {
    color: #444444;
    margin: 28px 0 0 0;
    font-size: 25px;
    margin-bottom: 33px;
    margin-left: 45px;
}

.banner-text .btn-primary {
    background: #4154f1;
    padding: 8px 35px;
    border-radius: 7px;
    color: #fff;
}

.banner-image {
    text-align: center;
    text-align: center;
    padding-bottom: 20px;
    max-width: 66%;
    height: auto;
}


.About-wrapper {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-image img {
    width: 60%;

}

.Right-text h1 {
    font-size: 14px;
    font-weight: 700;
    color: #4154f1;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 30px;
}

.Right-text h2 {
    font-size: 24px;
    font-weight: 700;
    color: #012970;
    margin-left: 30px;


}

.Right-text p {
    margin: 15px 0 30px 0;
    line-height: 24px;
    color: #444444;
    margin-left: 30px;
    padding-top: 10px;
    font-size: 18px;

}

.btn-primary {
    background: #4154f1;
    padding: 8px 35px;
    border-radius: 7px;
    color: #fff;
    font-size: 26px;
}

.Right-text {
    background-color: antiquewhite;
    margin-top: 0px 0 0 34px;
    font-weight: 500;
    line-height: 1.2;
    font-family: "Nunito", sans-serif;
    height: 345px;
    width: 750px;
    margin-top: 43px;
    margin-left: 71px;

}

.Left-image img {

    width: 90%;
}

.headlne-wrapper {}

.headline-header {
    text-align: center;
    padding-bottom: 40px;
}

.headline-header h1 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
}

.headline-header {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;

}

.headline-banner-wrapper {
    display: flex;
    padding-left: 50px;
    padding-right: 68px;
    margin-top: 40px;

}

.headline-banner-box {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));

}

.banner-left-box {
    padding: 30px;
    box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    width: 33.33%;
    margin-left: 25px;
    padding-bottom: 5px;

}

.banner-middle-box {
    padding: 30px;
    box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    width: 33.33%;
    margin-left: 25px;
    padding-bottom: 5px;

}

.banner-right-box {
    padding: 30px;
    box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    width: 33.33%;
    margin-left: 25px;
    padding-bottom: 5px;
}

.left-image img {
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
    width: 50%;
    max-width: 100%;
    height: auto;
}


.middle-image img {
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
    width: 50%;
    max-width: 100%;
    height: auto;
}

.right-image img {
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
    width: 50%;
    max-width: 100%;
    height: auto;

}

.banner-left-box h1 {
    font-size: 24px;
    color: #012970;
    font-weight: 700;
    margin-bottom: 18px;

}

.banner-middle-box h1 {

    font-size: 24px;
    color: #012970;
    font-weight: 700;
    margin-bottom: 18px;
}

.banner-right-box h1 {
    font-size: 24px;
    color: #012970;
    font-weight: 700;
    margin-bottom: 18px;

}

.banner-left-box p {
    margin-top: 0;
    margin-bottom: 1rem;

}

.banner-middle-box p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.banner-right-box p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.headline-page {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.headline-lower {
    position: relative;
    margin: 0px 0 0 65px;
}

.fw-wrap {
    margin-top: 60px;
    justify-content: space-evenly;
    margin-top: 110px;
}


.w-80 h1 {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
}

.headline-page i {
    font-size: 42px;
    line-height: 0;
    margin-right: 20px;
    color: #4154f1;
}

.w-50 {
    background-color: #fff;
    box-shadow: 1px 1px 3px 0px #ccc;
    width: 234px;
    height: 90px;
    display: flex;
    margin-right: 52px;


}

.client-1,
.client-2,
.client-3,
.client-4 {
    display: flex;
    position: relative;
    top: 47px;
    left: 26px;
}

.client-1 h1,
.client-2 h1,
.client-3 h1,
.client-4 h1 {
    margin: -8px 0 0 -6px;
}

.feature-wrapper {
    margin-top: 40px;
    text-align: center;
    margin-top: 80px;
}

.feature-wrapper h3 {
    font-size: 13px;
    color: #4154f1;
    font-weight: 700;

}

.feature-wrapper p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}

.feature-banner-wrapper {
    display: flex;
    margin-top: 60px;
    background-color: #fff;

}

.feature-right-text {
    display: flex;
    margin: -72px -12px 0px;
    float: left;
    padding-right: 94px;
}

.text-left {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    position: relative;
    float: left;
    margin-top: 110px;
}

.text-left-1,
.text-left-2,
.text-left-3 {
    background-color: ghostwhite;
    margin: 9px 0px 16px 0px;
    width: 231px;
    padding: 28px 20px;

}

.text-left-1 p,
.text-left-2 p,
.text-left-3 p {
    margin: 10px 6px 6px 10px;
    font-size: 18px;
    color: #012970;
    font-weight: 700;
    margin: 0;
}

.text-right {
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin-top: 110px;

}

.text-right-1,
.text-right-2,
.text-right-3 {
    background-color: ghostwhite;
    margin: 0px 0px 19px 0px;
    width: 237px;
    padding: 27px 21px;

}

.text-right-1 p,
.text-right-2 p,
.text-right-3 p {
    margin: 10px 6px 6px 10px;
    font-size: 18px;
    color: #012970;
    font-weight: 700;
    margin: 0;
}

.feature-left-image img {
    height: auto;
    width: 77%;
    margin-left: 90px;
}

.icofont-check {
    line-height: 0;
    background: #ecf3ff;
    padding: 10px;
    margin-right: 10px;
    font-size: 24px;
    border-radius: 3px;
    color: #4154f1;
    float: left;
    background-color: aqua;
}

.feature-flexbox {
    display: flex;
    margin-top: 60px;


}

.feature-1 {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin-left: 90px;

}

.feature-1 h3 {
    font-size: 32px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
    line-height: 1.2;

}

.feature-1 ul {
    display: flex;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    list-style: none;
    margin-top: 15px;


}

.feature-1 ul li a.active {
    color: #4154f1;
    border-bottom: 3px solid #4154f1;


}

.feature-1 ul li a {
    background: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #012970;
    padding: 12px 0;
    margin-right: 25px;
    margin-bottom: -2px;
    border-radius: 0;
    text-decoration: none;
}



.featureA-right-image {
    width: 85%;


}

.featureA-right-image img {
    max-width: 100%;
    height: auto;
    margin-left: 240px;
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
    margin-left: -100px;
    padding: 0px 41px;
    margin-top: 30px;

}

.feature-3 {
    width: 87%;

}

.feature-2-flexbox {
    margin-top: 32px;

}

.feature-3 p {
    margin-top: 10px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.font-1 {
    margin-top: 10px;

}

.font-1 i {
    float: left;
    font-size: 17px;
    margin-right: 8px;
    color: #4154f1;



}

.font-1 h4 {
    font-size: 18px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;


}

.font-2 {
    margin-top: 10px;

}

.font-2 i {
    float: left;
    font-size: 17px;
    margin-right: 8px;
    color: #4154f1;

}

.font-2 h4 {
    font-size: 18px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
}

.feature-5 h3 {
    color: #012970;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;

}

.feature-5-flexbox {
    display: flex;
    justify-content: space-between;

}

.feature-5-image {
    width: 20%;
    margin-left: 90px;
    margin-top: 20px;


}

.feature-5-image img {

    width: 166%;
    height: auto;
    margin-left: 40px;
}

.group-1 i {
    font-size: 44px;
    line-height: 68px;
    color: #0245bc;
    margin-right: 15px;
    float: left;
}

.group-1A h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 10px;
}

.group-1A p {
    font-size: 15px;
    color: #848484;
    margin-bottom: 5px;
}

.text1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 100px;
}

.text2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.row {
    display: flex;
    margin-left: 216px;
    line-height: 30px;
    width: 74%;
}

.right-text-flexbox {
    display: flex;
}

.services-header {
    text-align: center;
    margin-top: 40px;
}

.services-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;

}

.services-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;

}

.services-box {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 40px;
    justify-content: center;
    padding: 0px 103px;
}

.card-1 {
    width: 30.33%;
    height: 100%;
    padding-top: 35px;
    border-bottom: #2db6fa solid 3px;
    background: #f0f8ff;
    margin-inline: 10px;
    box-shadow: 0px 0 5px;
    border-radius: 5px;
}

.card-2 {
    width: 30.33%;
    height: 100%;
    padding-top: 35px;
    border-bottom: solid 3px #f68c09;
    background: #f0f8ff;
    margin-inline: 10px;
    box-shadow: 0px 0 5px;
    border-radius: 5px;
}

.card-3 {
    width: 30.33%;
    height: 100%;
    padding-top: 35px;
    border-bottom: solid 3px #08da4e;
    background: #f0f8ff;
    margin-inline: 10px;
    box-shadow: 0px 0 5px;
    border-radius: 5px;
}

.card-4 {
    width: 30.33%;
    height: 100%;
    padding-top: 35px;
    border-bottom: solid 3px #ff0000;
    background: #f0f8ff;
    margin-inline: 10px;
    margin-top: 20px;
    box-shadow: 0px 0 5px;
    border-radius: 5px;
}

.card-5 {
    width: 30.33%;
    height: 100%;
    padding-top: 35px;
    border-bottom: solid 3px #ee82ee;
    background: #f0f8ff;
    margin-inline: 10px;
    margin-top: 20px;
    box-shadow: 0px 0 5px;
    border-radius: 5px;
}

.card-6 {
    width: 30.33%;
    height: 100%;
    padding-top: 35px;
    border-bottom: solid 3px #f51f9c;
    background: #f0f8ff;
    margin-inline: 10px;
    margin-top: 20px;
    box-shadow: 0px 0 5px;
    border-radius: 5px;
}

.card-1 .icofont-chat {
    color: #2db6fa;
    background: #dbf3fe;
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;

}

.card-2 .icofont-chat {
    color: #ffa500;
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
    background: #fde3c4;
}

.card-3 .icofont-chat {
    color: #08da4e;
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
    background: #cffddf;
}

.card-4 .icofont-chat {
    color: #e9222c;
    background: #fef7f8;
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
}

.card-5 .icofont-chat {
    color: #b50edf;
    background: #f8e4fd;
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
}

.card-6 .icofont-chat {
    color: #f51f9c;
    background: #feecf7;
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
}

.card-1 h3 {
    line-height: 1.2;
    font-size: 1.75rem;
    font-family: "Nunito", sans-serif;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-1 p {
    line-height: 20px;
}

.card-1 span {
    line-height: 5;
    color: #4154f1;
}

.card-2 h3 {
    line-height: 1.2;
    font-size: 1.75rem;
    font-family: "Nunito", sans-serif;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-2 p {
    line-height: 20px;
}

.card-2 span {
    line-height: 5;
    color: #ffa500;
}

.card-3 h3 {
    line-height: 1.2;
    font-size: 1.75rem;
    font-family: "Nunito", sans-serif;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-3 p {
    line-height: 20px;
}

.card-3 span {
    line-height: 5;
    color: #008000;
}


.card-4 h3 {
    line-height: 1.2;
    font-size: 1.75rem;
    font-family: "Nunito", sans-serif;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-4 p {
    line-height: 20px;
}

.card-4 span {
    line-height: 5;
    color: #e9222c;
}

.card-5 h3 {
    line-height: 1.2;
    font-size: 1.75rem;
    font-family: "Nunito", sans-serif;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-5 p {
    line-height: 20px;
}

.card-5 span {
    line-height: 5;
    color: #ee82ee;
}

.card-6 h3 {
    line-height: 1.2;
    font-size: 1.75rem;
    font-family: "Nunito", sans-serif;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-6 p {
    line-height: 20px;
}

.card-6 span {
    line-height: 5;
    color: #f51f9c;

}

.Read-More {
    text-decoration: none;

}

.card-1:hover {
    color: #ecf3ff;
    background-color: #2db6fa;

}

.card-2:hover {
    color: #ecf3ff;
    background-color: #f68c09;

}

.card-3:hover {
    color: #ecf3ff;
    background-color: #08da4e;

}

.card-4:hover {
    color: #ecf3ff;
    background-color: #ff0000;

}

.card-5:hover {
    color: #ecf3ff;
    background-color: #ee82ee;

}

.card-6:hover {
    color: #ecf3ff;
    background-color: #f51f9c;

}

.span:hover {
    color: white;
}

.pricing-header {
    text-align: center;
    padding-bottom: 40px;
}

.pricing-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
}

.pricing-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}

.pricing-banner-flexbox {
    display: flex;
    justify-content: space-between;
    padding: 0px 65px;
}

.Pricing-1 {
    width: 20%;
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.Pricing-1 h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: #07d5c0;
    font-family: "Nunito", sans-serif;
}

.vivi-1 {
    font-size: 36px;
    color: #444444;
    font-weight: 600;
    font-family: "Poppins", sans-serif;

}

.vivi-1 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;

}

.vivi-1 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

sup {
    position: relative;
    font-size: .75em;
    line-height: 0;
    vertical-align: baseline;
}


.pricing-1-image {
    padding: 30px 40px;

}

.Pricing-1 img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.Pricing-1 ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 25px;
}

.Pricing-1 ul li {
    list-style: none;
    padding-bottom: 10px;

}

.Pricing-1 ul .na {
    color: #ccc;
    text-decoration: line-through;
}

.Pricing-1 a {
    text-decoration: none;
}

.Pricing-1 .botton {
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    color: #4154f1;
    transition: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid #4154f1;
}

.Pricing-1 .botton:hover {
    color: #ecf3ff;
    background: #0000ff;
}


.Pricing-2 {
    width: 20%;
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;

}

.Pricing-2 .feature {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #4154f1;
    color: #fff;



}

.Pricing-2 h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: #65c600;
    font-family: "Nunito", sans-serif;
}

.vivi-2 {
    font-size: 36px;
    color: #444444;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.vivi-2 sub {
    font-size: 20px;
    top: -15px;
    left: -3px;

}

sub {
    position: relative;
    font-size: .75em;
    line-height: 0;
    vertical-align: baseline;
}

.vivi-2 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}



.pricing-2-image {
    padding: 30px 40px;

}

.Pricing-2 img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.Pricing-2 ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 25px;
}

.Pricing-2 ul li {
    padding-bottom: 10px;
    list-style: none;
}

.Pricing-2 ul .na {
    color: #ccc;
    text-decoration: line-through;
}

.Pricing-2 a {
    text-decoration: none;
}

.Pricing-2 .botton {
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    color: #4154f1;
    transition: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid #4154f1;
}

.Pricing-2 .botton:hover {
    color: #ecf3ff;
    background: #0000ff;
}

.Pricing-3 {
    width: 20%;
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;

}

.Pricing-3 h3 {
    font-weight: 700;
    font-size: 18px;
    color: #ff901c;
    margin-bottom: 15px;
    font-family: "Nunito", sans-serif;

}

.vivi-3 {
    font-size: 36px;
    color: #444444;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.vivi-3 sub {
    font-size: 20px;
    top: -15px;
    left: -3px;

}

sub {
    position: relative;
    font-size: .75em;
    line-height: 0;
    vertical-align: baseline;
}

.vivi-3 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.pricing-3-image {
    padding: 30px 40px;

}

.pricing-3-image img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.Pricing-3 ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 25px;
}

.Pricing-3 ul li {
    padding-bottom: 10px;
    list-style: none;
}

.Pricing-3 a {
    text-decoration: none;
}

.Pricing-3 .botton {
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    color: #4154f1;
    transition: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid #4154f1;
}

.Pricing-3 .botton:hover {
    color: #ecf3ff;
    background: #0000ff;
}

.Pricing-4 {
    width: 20%;
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;

}

.Pricing-4 h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: #ff0071;
    line-height: 1.2;
}

.vivi-4 {
    font-size: 36px;
    color: #444444;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.vivi-4 sub {
    font-size: 20px;
    top: -15px;
    left: -3px;

}

sub {
    position: relative;
    font-size: .75em;
    line-height: 0;
    vertical-align: baseline;
}

.vivi-4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

.pricing-4-image {
    padding: 30px 40px;

}

.Pricing-4 img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.Pricing-4 ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 25px;
}

.Pricing-4 ul li {
    padding-bottom: 10px;
    list-style: none;
}

.Pricing-4 a {
    text-decoration: none;
}

.Pricing-4 .botton {
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    color: #4154f1;
    transition: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid #4154f1;
}

.Pricing-4 .botton:hover {
    color: #ecf3ff;
    background: #0000ff;
}

.Questions-header {
    text-align: center;
    margin-top: 70px;
    padding-bottom: 40px;
}

.Questions-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;

}

.Questions-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;

}

.Questions-content {}

.Question-flexbox {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.Question-items {

    width: 50%;

}

.portfolio {
    padding: 60px 0;
    overflow: hidden;
}

.portfolio-header {
    text-align: center;
    padding-bottom: 40px;
    font-family: "Open Sans", sans-serif;
    color: #444444;

}

.portfolio-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
}

.portfolio-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}

.filter-items {
    transition-delay: .1s;
    opacity: 1;
    transform: translateZ(0);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: opacity, transform;

}

.filter {

    display: flex !important;
    justify-content: center !important;

}

.filter-1 {
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    background: white;
    border-radius: 50px;
    padding: 2px 15px;
}

.filter.filter-1 li.filter-active {
    color: #4154f1;
    border-color: #4154f1;

}

.filter .filter-1 li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px 10px 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: #444444;
    margin: 0 4px 8px 4px;
    transition: 0.3s;
    border-radius: 50px;
    border: 1px solid blue;
    background: white;
}

.portfolio-team {}

.portfolio-A {
    display: flex;
    justify-content: center;
    margin-left: 40px;

}


.portfolio-card-1 {
    width: 29%;
    margin-left: 20px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(255, 255, 255, 0.75);

}

.portfolio-card-1 img {
    width: 100%;
    height: auto;
    transition: 1s;
}

.portfolio-like {}

.portfolio-like a i {
    font-size: 24px;
    line-height: 0;
}

.portfolio-B {
    display: flex;
    justify-content: center;
    margin-left: 40px;
}

.portfolio-card-2 {
    width: 29%;
    margin-left: 20px;
}

.portfolio-card-2 img {
    width: 100%;
    height: auto;
}







.portfolio-C {
    display: flex;
    justify-content: center;
    margin-left: 40px;
}

.portfolio-card-3 {
    width: 29%;
    margin-left: 20px;
}

.portfolio-card-3 img {
    width: 100%;
    height: auto;
}

.Testimonials {
    padding: 60px 0px;
    overflow: hidden;
}

.Testimonials-header {
    text-align: center;
    padding-bottom: 40px
}

.Testimonials-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;

}

.Testimonials-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;

}

.Testimonials-content {
    display: flex;
}

.Testimonials-banner {
    width: 100%;
}

.Testimonials-items {
    box-sizing: content-box;
    padding: 30px;
    margin: 40px 40px;
    box-shadow: 0px 0 20px rgb(1 41 112 / 10%);
    background: #fff;
    min-height: 285px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
}

.profile img {
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;


}

.satars {
    margin-bottom: 15px;

}

.satars i {
    color: #ffc107;
    margin: 0 1px;
}

.Testimonials-items P {
    font-style: italic;
    margin: 0 auto 15px auto;
}

.profile {
    margin-top: auto !important;
}

.profile img {
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}

.profile h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

.profile h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.team {
    background: #fff;
    padding: 50px 0;

}

.team-header {
    text-align: center;
    padding-bottom: 40px;
}

.team-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;

}

.team-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;

}

.team-banner {
    display: flex;
    --bs-gutter-y: 1.5rem;
    --bs-gutter-y: 0;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    margin: 65px;
    margin-top: 5px;
}

.team-1 {
    width: 23%;
    margin: 10px;
}

.team-member-1 {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    transition: 0.3s;
}

.team-member-1 .member-image {
    position: relative;
    overflow: hidden;
}

.team-member-1 .member-image img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* .team-member-1 .social-media{
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
} */
/* .team-member-1 .social-media a{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
} */
/* .team-member-1 .social-media a i{
    font-family: 'IcoFont' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
} */
.team-member-1 .member-info {
    padding: 10px 15px 20px 15px
}

.team-member-1 .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #012970;

}

.team-member-1 .member-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #aaaaaa;

}

.team-member-1 .member-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: #5e5e5e;

}

.team-2 {
    width: 23%;
    margin: 10px;
}

.team-member-2 {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    transition: 0.3s;
}

.team-member-2 .member-image img {
    max-width: 100%;
    height: auto;
}

.team-member-2 .member-image img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* .team-member-2 .social-media{
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
}
.team-member-2 .social-media a{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
} */
/* .team-member-2 .social-media a i{
    font-family: 'IcoFont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
} */
.team-member-2 .member-info {
    padding: 10px 15px 20px 15px
}

.team-member-2 .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #012970;

}

.team-member-2 .member-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #aaaaaa;

}

.team-member-2 .member-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: #5e5e5e;

}

.team-3 {
    width: 23%;
    margin: 10px;
}

.team-member-3 {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    transition: 0.3s;
}

.team-member-3 .member-image img {
    max-width: 100%;
    height: auto;
}

.team-member-3 .member-image img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* .team-member-3 .social-media{
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
}
.team-member-3 .social-media a{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
} */
/* .team-member-3 .social-media a i{
    font-family: 'IcoFont' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
} */
.team-member-3 .member-info {
    padding: 10px 15px 20px 15px
}

.team-member-3 .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #012970;

}

.team-member-3 .member-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #aaaaaa;

}

.team-member-3 .member-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: #5e5e5e;

}

.team-4 {
    width: 23%;
    margin: 10px;
}

.team-member-4 {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    transition: 0.3s;
}

.team-member-4 .member-image img {
    max-width: 100%;
    height: auto;
}

.team-member-4 .member-image img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* .team-member-4 .social-media{
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
}
.team-member-4 .social-media a{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
} */
/* .team-member-4 .social-media a i{
    font-family: 'IcoFont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;

} */
.social-media a {
    text-decoration: none;

}

.team-member-4 .member-info {
    padding: 10px 15px 20px 15px
}

.team-member-4 .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #012970;

}

.team-member-4 .member-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #aaaaaa;

}

.team-member-4 .member-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: #5e5e5e;

}
.client {
    /* padding: 60px 0;
    overflow: hidden; */
}

.client-header {
    text-align: center;
    padding-bottom: 40px;
}

.client-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
}

.client-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970
}
.client-banner{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.client-flexbox{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    margin-left: 80px;
}
.client-image-1{
    margin-right: 120px;
    flex-shrink: 0;
    width: 86px;
    height: 100%;
    position: relative;
    transition-property: transform;
    
}
.client-image-1 img{
    opacity: 0.5;
    transition: 0.3s;
    max-width: 100%;
    height: auto;
    vertical-align: middle;

}
.client-image-2{
    margin-right: 120px;
    flex-shrink: 0;
    width: 86px;
    height: 100%;
    position: relative;
    transition-property: transform;
    
}
.client-image-2 img{
    opacity: 0.5;
    transition: 0.3s;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.client-image-3{
    margin-right: 120px;
    flex-shrink: 0;
    width: 86px;
    height: 100%;
    position: relative;
    transition-property: transform;
    
}
.client-image-3 img{
    opacity: 0.5;
    transition: 0.3s;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.client-image-4{
    margin-right: 120px;
    flex-shrink: 0;
    width: 86px;
    height: 100%;
    position: relative;
    transition-property: transform;
    
}
.client-image-4 img{
    opacity: 0.5;
    transition: 0.3s;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.client-image-5{
    margin-right: 120px;
    flex-shrink: 0;
    width: 86px;
    height: 100%;
    position: relative;
    transition-property: transform;
    
}
.client-image-5 img{
    opacity: 0.5;
    transition: 0.3s;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
} 
.client-image-6{
    margin-right: 120px;
    flex-shrink: 0;
    width: 86px;
    height: 100%;
    position: relative;
    transition-property: transform;
    
}
.client-image-6 img{
    opacity: 0.5;
    transition: 0.3s;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
} 
.blog-header{
    text-align: center;
    margin-top: 60px;
    padding-bottom: 40px;
}
.blog-header h2{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
    
}
.blog-header p{
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;

}
.blog-items{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    margin-left: 120px;
}
.blog-flexbox{
    flex: 0 0 auto;
    width: 30%;
}
.post-box{
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    transition: 0.3s;
    height: 100%;
    overflow: hidden;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 15px;

}
.post-image{
    overflow: hidden;
    margin: -30px -30px 17px -31px;
    position: relative;

}
.post-image img{
    max-width: 100%;
    height: auto;
    transition: 0.5s;
}
.post-image img:hover{
    transform: rotate(6deg) scale(1.2);
}
 /* .post-content h3.read:hover{
    color: #717ff5;
    text-decoration: none;
} */
.post-date{
    font-size: 16px;
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
    display: block;
    margin-bottom: 10px;
}
.post-titel{
    font-size: 24px;
    color: #012970;
    font-weight: 700;
    margin-bottom: 18px;
    position: relative;
    transition: 0.3s;
}
.read{
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    text-decoration: none;
}
.read span{
    box-sizing: border-box;
}
.icofont-long-arrow-right{
    line-height: 0;
    margin-left: 4px;
    font-size: 18px;
    text-decoration: none;
}
.contact-header{
    text-align: center;
    padding-bottom: 30px;
}
.contact-header h2{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;

}
.contact-header p{
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;

}
.contact-banner{
    display: flex;
}
.contact-details{
    flex: 0 0 auto;
    width: 50%;
}
.contact-left{
    margin: 5px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    

}
.Adderss{
    flex: 0 0 auto;

}
.contact-info{
    color: #444444;
    background: #fafbff;
    padding: 30px;

}
.contact-info i{
    font-size: 38px;
    line-height: 0;
    color: #4154f1;
}
.contact-info h3{
    font-size: 20px;
    color: #012970;
    font-weight: 700;
    margin: 20px 0 10px 0;
}
.contact-info p{
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.call-use{
    width: 40%;
    margin: 10px
    

}
.call-info{
    color: #444444;
    background: #fafbff;
    padding: 30px;

}
.call-info i{
    font-size: 38px;
    line-height: 0;
    color: #4154f1;
}
.call-info h3{
    font-size: 20px;
    color: #012970;
    font-weight: 700;
    margin: 20px 0 10px 0;
}
.call-info p{
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.Email-use{
    flex: 0 0 auto;
    

}
.Email-info{
    color: #444444;
    background: #fafbff;
    padding: 30px;

}
.Email-info i{
    font-size: 38px;
    line-height: 0;
    color: #4154f1;
}
.Email-info h3{
    font-size: 20px;
    color: #012970;
    font-weight: 700;
    margin: 20px 0 10px 0;
}
.Email-info p{
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.open-hours{
    flex: 0 0 auto;
    

}
.open-info{
    color: #444444;
    background: #fafbff;
    padding: 30px;

}
.open-info i{
    font-size: 38px;
    line-height: 0;
    color: #4154f1;
}
.open-info h3{
    font-size: 20px;
    color: #012970;
    font-weight: 700;
    margin: 20px 0 10px 0;
}
.open-info p{
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.contact-right{
    padding-right: 56px;
    margin-left: -46px;
}
.form{
    background: #fafbff;
    padding: 30px;
    height: 78%;
    margin-top: 13px;
}
.contact-me{
   
    display: flex;
    flex-wrap: wrap;
    width: 100%;

   
}
.your-name{
    flex: 0 0 auto;
    width: 50%;
    margin-top: 26px;

}
.your-name input{
    padding: 10px 15px;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
}
.your-email{
    flex: 0 0 auto;
    width: 50%;
    margin-top: 26px;
}
.your-email input{
    padding: 10px 15px;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;

}
.subject{
    flex: 0 0 auto;
    width: 100%;
    margin-top: 26px;
}
.subject input{
    padding: 10px 15px;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
    padding: 12px 311px 8px 2px;
}
.message{
    flex: 0 0 auto;
    width: 100%;
    margin-top: 26px;
    padding: 5px 0px 28px 2px
}
.message input{
    padding: 12px 15px;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
    padding: 12px 308px 70px 3px;
}
.text-area{

    margin-left: 160px;
}
 .text-area [type=submit]{
    background: #4154f1;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
































/* .footer{
    background-color: #f6f9ff;
    font-size: 14px;
    padding: 50px ;

}
.footer-flexbox{
    display: flex;
    justify-content: space-evenly;
    

}
.footer-1{
    width: 33%;
}
.footer-1 a{
    text-decoration: none;
}
.footer-1 a img{
    max-height: 40px;
    margin-right: 6px;  
}
.footer-1 a span{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: sans-serif;
    margin-top: 6px;
}
.footer-1 p{
    margin-top: 15px;
   font-size: 14px;
   line-height: 24px;
   font-family: sans-serif;
}
.footer-1 .links a{
    /* padding: 5px; */
/* font-size: 20px; */
/* display: inline-block; */
/* margin-right: 10px;
    transition: .3s;
    color: rgba(1, 41, 112, 0.5);

} */
/* .footer-1 .links a:hover{
    color: aqua;
}
.footer-2{

}
.footer-2 h4{
    font-size: 16px;
    font-weight: bold;
    color: #012970;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;

}
.footer-2 ul{
    /* padding: 5px; */



/* }
.footer-2 ul li{
    padding: 10px;
    display: flex;
    align-items: center;

}
.footer-2 ul li a{
    text-decoration: none;

}
.footer-2 ul li a:hover{
    color: brown;

}
.footer-2 ul li i{
    color: #d0d4fc;
}
.footer-3 h4{
    font-size: 16px;
    font-weight: bold;
    color: #012970;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;


}
.footer-3 p{
    line-height: 26px;
}
.footer-3 p strong{
    font-weight: bolder;
 
}
.footer-bottom{
    background-color: #f6f9ff;
}
.footer-bottom-flexbox{
    display: flex; */


/* .footer{
    background: black;
}
.footer-1{
    padding: 30px;
    
}
.footer-fkexbox{
    width: 28%;
    

}
.footer-1 h4{
    color: aliceblue;
    padding-bottom: 10px;
    font-size: 20px;

}
.footer-1 p{
    color: aliceblue;
    /* width: 30%; */
/* padding-bottom: 10px;
    line-height: 25px;
    font-size: 15px;
    
}.footer form{
    margin-top: 20px;
    background: #fff;
    padding: 6px 10px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
}
.footer-1 form input[type=email] { 
    padding: 4px 8px;
    width: calc(100%-100px); 

}
.footer-1 form input[type=submit] {
    background: #f03c02;
    color: #fff;
    position: absolute;
    top: 8px;
    right: -4px;
    bottom: opx;
    border: 0px;
    font-size: 16px;
    padding: 0px 11px;
    border-radius:  0 4px 4px 0;
    box-shadow: 0px 2px 15px rgb(0 0 0/ 10%); } */

/* .footer{
    background-color: rgb(219, 193, 193);
    padding: 60px 0 30px 0;
    
}
.footer-flexbox{
    display: flex;
    justify-content: space-around;

}
.footer-1{
    /* width: 25%; */

/* } */
/* .footer-1 h3 {
    font-size: 24px;
    font-weight: 700;

}

.footer-1 p {
    line-height: 25px;


}

.footer-1 strong {
    line-height: 25px;

}

.footer-2 h3 {
    font-size: 16px;
    font-weight: bold;
    color: black;
    position: relative;

}

.footer-2 ul {
    margin-top: 10px;




}

.footer-2 ul li {
    padding: 10px;
    display: flex;
    align-items: center;


}

.footer-2 ul li i {}

.footer-2 ul li i a {
    text-decoration: none;
    transition: 0 3s;
    display: inline-block;
    line-height: 1;
}

.footer-2 ul li i a:hover {
    text-decoration: none;
    color: #106eea;
}

.footer-3 {
    width: 20%;
    text-decoration: none;

}

.footer-3 h3 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
}

.footer-3 p {
    margin-top: 10px;
    line-height: 25px;

}

.footer-3 .link {
    margin-top: 10px;

}

.footer-3 .link a {
    font-size: 18px;
    display: inline-block;
    background: #106eea;
    color: white;
    line-height: 1;
    width: 36px;
    height: 20px;
    padding: 8px 0px;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    transition: 0.3s;
    text-decoration: none;
}

.footer-3 .link a:hover {
    background: #3b8af2;
    color: #fff;
    text-decoration: none;
} */