.Container {
    width: 1200px;
    margin: auto;
}

.header-flexbox {
    display: flex;
    justify-content: space-between;
}

.header-text h1 a {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    margin-left: 40px;
}

.header-text h1 {
    margin-top: 20px;
}

.header-navigation {}

.header-navigation ul {
    list-style: none;
    display: flex;
    margin-top: 20px;
}

.header-navigation ul li {}

.header-navigation ul li a {
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    white-space: nowrap;
    transition: 0.3s;
    color: #013289;
    line-height: 1.9;
    text-decoration: none;


}

.header-navigation ul li .btn-primary {
    background: #4154f1;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 7px;
    color: #fff;
}

.banner {

    margin-top: 70px;
    margin-left: 32px;
}

.banner-wrapper {
    display: flex;

}

.banner-text {
    width: 67%;
    margin-top: 20px;

}

.banner-text h2 {
    display: inline-block;
    font-size: 49px;
    font-weight: 700;
    color: #012970;
    margin-left: 48px;
}

.banner-text p {
    color: #444444;
    margin: 28px 0 0 0;
    font-size: 25px;
    margin-bottom: 33px;
    margin-left: 45px;
}

.banner-text .btn-primary {
    background: #4154f1;
    padding: 8px 35px;
    border-radius: 7px;
    color: #fff;
}

.banner-image {
    text-align: center;
    text-align: center;
    padding-bottom: 20px;
    max-width: 66%;
    height: auto;
}


.About-wrapper {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-image img {
    width: 60%;

}

.Right-text h1 {
    font-size: 14px;
    font-weight: 700;
    color: #4154f1;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 30px;
}

.Right-text h2 {
    font-size: 24px;
    font-weight: 700;
    color: #012970;
    margin-left: 30px;


}

.Right-text p {
    margin: 15px 0 30px 0;
    line-height: 24px;
    color: #444444;
    margin-left: 30px;
    padding-top: 10px;
    font-size: 18px;

}

.btn-primary {
    background: #4154f1;
    padding: 8px 35px;
    border-radius: 7px;
    color: #fff;
    font-size: 26px;
}

.Right-text {
    background-color: antiquewhite;
    margin-top: 0px 0 0 34px;
    font-weight: 500;
    line-height: 1.2;
    font-family: "Nunito", sans-serif;
    height: 345px;
    width: 750px;
    margin-top: 43px;
    margin-left: 71px;

}

.Left-image img {

    width: 90%;
}

.headlne-wrapper {}

.headline-header {
    text-align: center;
    padding-bottom: 40px;
}

.headline-header h1 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
}

.headline-header {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;

}

.headline-banner-wrapper {
    display: flex;
    padding-left: 50px;
    padding-right: 68px;
    margin-top: 40px;

}

.headline-banner-box {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));

}

.banner-left-box {
    padding: 30px;
    box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    width: 33.33%;
    margin-left: 25px;
    padding-bottom: 5px;

}

.banner-middle-box {
    padding: 30px;
    box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    width: 33.33%;
    margin-left: 25px;
    padding-bottom: 5px;

}

.banner-right-box {
    padding: 30px;
    box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    width: 33.33%;
    margin-left: 25px;
    padding-bottom: 5px;
}

.left-image img {
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
    width: 50%;
    max-width: 100%;
    height: auto;
}


.middle-image img {
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
    width: 50%;
    max-width: 100%;
    height: auto;
}

.right-image img {
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
    width: 50%;
    max-width: 100%;
    height: auto;

}

.banner-left-box h1 {
    font-size: 24px;
    color: #012970;
    font-weight: 700;
    margin-bottom: 18px;

}

.banner-middle-box h1 {

    font-size: 24px;
    color: #012970;
    font-weight: 700;
    margin-bottom: 18px;
}

.banner-right-box h1 {
    font-size: 24px;
    color: #012970;
    font-weight: 700;
    margin-bottom: 18px;

}

.banner-left-box p {
    margin-top: 0;
    margin-bottom: 1rem;

}

.banner-middle-box p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.banner-right-box p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.headline-page {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.headline-lower {
    position: relative;
    margin: 0px 0 0 65px;
}

.fw-wrap {
    margin-top: 60px;
    justify-content: space-evenly;
    margin-top: 110px;
}


.w-80 h1 {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
}

.headline-page i {
    font-size: 42px;
    line-height: 0;
    margin-right: 20px;
    color: #4154f1;
}

.w-50 {
    background-color: #fff;
    box-shadow: 1px 1px 3px 0px #ccc;
    width: 234px;
    height: 90px;
    display: flex;
    margin-right: 52px;


}

.client-1,
.client-2,
.client-3,
.client-4 {
    display: flex;
    position: relative;
    top: 47px;
    left: 26px;
}

.client-1 h1,
.client-2 h1,
.client-3 h1,
.client-4 h1 {
    margin: -8px 0 0 -6px;
}

.feature-wrapper {
    margin-top: 40px;
    text-align: center;
    margin-top: 80px;
}

.feature-wrapper h3 {
    font-size: 13px;
    color: #4154f1;
    font-weight: 700;

}

.feature-wrapper p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}

.feature-banner-wrapper {
    display: flex;
    margin-top: 60px;
    background-color: #fff;

}

.feature-right-text {
    display: flex;
    margin: -72px -12px 0px;
    float: left;
    padding-right: 94px;
}

.text-left {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    position: relative;
    float: left;
    margin-top: 110px;
}

.text-left-1,
.text-left-2,
.text-left-3 {
    background-color: ghostwhite;
    margin: 9px 0px 16px 0px;
    width: 231px;
    padding: 28px 20px;

}

.text-left-1 p,
.text-left-2 p,
.text-left-3 p {
    margin: 10px 6px 6px 10px;
    font-size: 18px;
    color: #012970;
    font-weight: 700;
    margin: 0;
}

.text-right {
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin-top: 110px;

}

.text-right-1,
.text-right-2,
.text-right-3 {
    background-color: ghostwhite;
    margin: 0px 0px 19px 0px;
    width: 237px;
    padding: 27px 21px;

}

.text-right-1 p,
.text-right-2 p,
.text-right-3 p {
    margin: 10px 6px 6px 10px;
    font-size: 18px;
    color: #012970;
    font-weight: 700;
    margin: 0;
}

.feature-left-image img {
    height: auto;
    width: 77%;
    margin-left: 90px;
}

.icofont-check {
    line-height: 0;
    background: #ecf3ff;
    padding: 10px;
    margin-right: 10px;
    font-size: 24px;
    border-radius: 3px;
    color: #4154f1;
    float: left;
    background-color: aqua;
}

.feature-flexbox {
    display: flex;
    margin-top: 60px;


}

.feature-1 {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin-left: 90px;

}

.feature-1 h3 {
    font-size: 32px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
    line-height: 1.2;

}

.feature-1 ul {
    display: flex;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    list-style: none;
    margin-top: 15px;


}

.feature-1 ul li a.active {
    color: #4154f1;
    border-bottom: 3px solid #4154f1;


}

.feature-1 ul li a {
    background: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #012970;
    padding: 12px 0;
    margin-right: 25px;
    margin-bottom: -2px;
    border-radius: 0;
    text-decoration: none;
}



.featureA-right-image {
    width: 85%;


}

.featureA-right-image img {
    max-width: 100%;
    height: auto;
    margin-left: 240px;
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
    margin-left: -100px;
    padding: 0px 41px;
    margin-top: 30px;

}

.feature-3 {
    width: 87%;

}

.feature-2-flexbox {
    margin-top: 32px;

}

.feature-3 p {
    margin-top: 10px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.font-1 {
    margin-top: 10px;

}

.font-1 i {
    float: left;
    font-size: 17px;
    margin-right: 8px;
    color: #4154f1;



}

.font-1 h4 {
    font-size: 18px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;


}

.font-2 {
    margin-top: 10px;

}

.font-2 i {
    float: left;
    font-size: 17px;
    margin-right: 8px;
    color: #4154f1;

}

.font-2 h4 {
    font-size: 18px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
}

.feature-5 h3 {
    color: #012970;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;

}

.feature-5-flexbox {
    display: flex;
    justify-content: space-between;

}

.feature-5-image {
    width: 20%;
    margin-left: 90px;
    margin-top: 20px;


}

.feature-5-image img {

    width: 166%;
    height: auto;
    margin-left: 40px;
}

.group-1 i {
    font-size: 44px;
    line-height: 68px;
    color: #0245bc;
    margin-right: 15px;
    float: left;
}

.group-1A h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 10px;
}

.group-1A p {
    font-size: 15px;
    color: #848484;
    margin-bottom: 5px;
}

.text1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 100px;
}

.text2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.row {
    display: flex;
    margin-left: 216px;
    line-height: 30px;
    width: 74%;
}

.right-text-flexbox {
    display: flex;
}

.services-header {
    text-align: center;
    margin-top: 40px;
}

.services-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;

}

.services-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;

}

.services-box {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 40px;
    justify-content: center;
    padding: 0px 103px;
}

.card-1 {
    width: 30.33%;
    height: 100%;
    padding-top: 35px;
    border-bottom: #0000ff solid 3px;
    background: #f0f8ff;
    margin-inline: 10px;
    box-shadow: 0px 0 5px;
    border-radius: 5px;



}

.card-2 {
    width: 30.33%;
    height: 100%;
    padding-top: 35px;
    border-bottom: solid 3px #ffa500;
    background: #f0f8ff;
    margin-inline: 10px;
    box-shadow: 0px 0 5px;
    border-radius: 5px;
}

.card-3 {
    width: 30.33%;
    height: 100%;
    padding-top: 35px;
    border-bottom: solid 3px #008000;
    background: #f0f8ff;
    margin-inline: 10px;
    box-shadow: 0px 0 5px;
    border-radius: 5px;
}

.card-4 {
    width: 30.33%;
    height: 100%;
    padding-top: 35px;
    border-bottom: solid 3px #ff0000;
    background: #f0f8ff;
    margin-inline: 10px;
    margin-top: 20px;
    box-shadow: 0px 0 5px;
    border-radius: 5px;
}

.card-5 {
    width: 30.33%;
    height: 100%;
    padding-top: 35px;
    border-bottom: solid 3px #ee82ee;
    background: #f0f8ff;
    margin-inline: 10px;
    margin-top: 20px;
    box-shadow: 0px 0 5px;
    border-radius: 5px;
}

.card-6 {
    width: 30.33%;
    height: 100%;
    padding-top: 35px;
    border-bottom: solid 3px #800080;
    background: #f0f8ff;
    margin-inline: 10px;
    margin-top: 20px;
    box-shadow: 0px 0 5px;
    border-radius: 5px;
}

.card-1 .icofont-chat {
    color: #4154f1;
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
    background: #ecf3ff;
}

.card-2 .icofont-chat {
    color: #ffa500;
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
    background: #ecf3ff;
}

.card-3 .icofont-chat {
    color: #008000;
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
    background: #ecf3ff;
}

.card-4 .icofont-chat {
    color: #e9222c;
    background: #ecf3ff;
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
}

.card-5 .icofont-chat {
    color: #ee82ee;
    background: #ecf3ff;
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
}

.card-6 .icofont-chat {
    color: #800080;
    background: #ecf3ff;
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
}

.card-1 h3 {
    line-height: 1.2;
    font-size: 1.75rem;
    font-family: "Nunito", sans-serif;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-1 p {
    line-height: 20px;
}

.card-1 span {
    line-height: 5;
    color: #4154f1;
}

.card-2 h3 {
    line-height: 1.2;
    font-size: 1.75rem;
    font-family: "Nunito", sans-serif;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-2 p {
    line-height: 20px;
}

.card-2 span {
    line-height: 5;
    color: #ffa500;
}

.card-3 h3 {
    line-height: 1.2;
    font-size: 1.75rem;
    font-family: "Nunito", sans-serif;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-3 p {
    line-height: 20px;
}

.card-3 span {
    line-height: 5;
    color: #008000;
}

.card-4 h3 {
    line-height: 1.2;
    font-size: 1.75rem;
    font-family: "Nunito", sans-serif;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-4 p {
    line-height: 20px;
}

.card-4 span {
    line-height: 5;
    color: #e9222c;
}

.card-5 h3 {
    line-height: 1.2;
    font-size: 1.75rem;
    font-family: "Nunito", sans-serif;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-5 p {
    line-height: 20px;
}

.card-5 span {
    line-height: 5;
    color: #ee82ee;
}

.card-6 h3 {
    line-height: 1.2;
    font-size: 1.75rem;
    font-family: "Nunito", sans-serif;
    color: #444444;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card-6 p {
    line-height: 20px;
}

.card-6 span {
    line-height: 5;
    color: #800080;
}

.Read-More {
    text-decoration: none;

}

.card-1:hover {
    color: #ecf3ff;
    background-color: #4154f1;

}

.card-2:hover {
    color: #ecf3ff;
    background-color: #ffa500;

}

.card-3:hover {
    color: #ecf3ff;
    background-color: #008000;

}

.card-4:hover {
    color: #ecf3ff;
    background-color: #ff0000;

}

.card-5:hover {
    color: #ecf3ff;
    background-color: #ee82ee;

}

.card-6:hover {
    color: #ecf3ff;
    /* background-color:  #800080; */

}

.pricing-header {
    text-align: center;
    padding-bottom: 40px;
}

.pricing-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
}

.pricing-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}

.pricing-banner-flexbox {
    display: flex;
    justify-content: space-between;
}

.Pricing-1 {
    width: 20%;
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.Pricing-1 h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: #07d5c0;
    font-family: "Nunito", sans-serif;
}

.vivi {
    font-size: 36px;
    color: #444444;
    font-weight: 600;
    font-family: "Poppins", sans-serif;

}

.vivi sup {
    font-size: 20px;
    top: -15px;
    left: -3px;

}

.vivi span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}

sup {
    position: relative;
    font-size: .75em;
    line-height: 0;
    vertical-align: baseline;
}


.pricing-1-image {
    padding: 30px 40px;

}

.Pricing-1 img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.Pricing-1 ul li {
    list-style: none;
    padding-bottom: 10px;

}

.Pricing-1 .botton {}

.Pricing-2 {
    width: 20%;
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;

}

.Pricing-2 .feature {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #4154f1;
    color: #fff;



}

.Pricing-2 h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: #65c600;
    font-family: "Nunito", sans-serif;
}



.pricing-2-image {
    padding: 30px 40px;

}

.Pricing-2 img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.Pricing-2 ul li {
    padding-bottom: 10px;
    list-style: none;
}

.Pricing-2 {}

.Pricing-3 {
    width: 20%;
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;

}

.Pricing-3 h3 {
    font-weight: 700;
    font-size: 18px;
    color: #ff901c;
    margin-bottom: 15px;
    font-family: "Nunito", sans-serif;

}

.Pricing-3 {}

.Pricing-3 {}

.pricing-5-image {
    padding: 30px 40px;

}

.pricing-5 img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.Pricing-3 ul li {
    padding-bottom: 10px;
    list-style: none;
}

.Pricing-4 {
    width: 20%;
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;

}

.Pricing-4 h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: #ff0071;
    line-height: 1.2;
}

.pricing-4-image {
    padding: 30px 40px;

}

.Pricing-4 img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.Pricing-4 ul li {
    padding-bottom: 10px;
    list-style: none;
}























/* .footer{
    background-color: #f6f9ff;
    font-size: 14px;
    padding: 50px ;

}
.footer-flexbox{
    display: flex;
    justify-content: space-evenly;
    

}
.footer-1{
    width: 33%;
}
.footer-1 a{
    text-decoration: none;
}
.footer-1 a img{
    max-height: 40px;
    margin-right: 6px;  
}
.footer-1 a span{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: sans-serif;
    margin-top: 6px;
}
.footer-1 p{
    margin-top: 15px;
   font-size: 14px;
   line-height: 24px;
   font-family: sans-serif;
}
.footer-1 .links a{
    /* padding: 5px; */
/* font-size: 20px; */
/* display: inline-block; */
/* margin-right: 10px;
    transition: .3s;
    color: rgba(1, 41, 112, 0.5);

} */
/* .footer-1 .links a:hover{
    color: aqua;
}
.footer-2{

}
.footer-2 h4{
    font-size: 16px;
    font-weight: bold;
    color: #012970;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;

}
.footer-2 ul{
    /* padding: 5px; */



/* }
.footer-2 ul li{
    padding: 10px;
    display: flex;
    align-items: center;

}
.footer-2 ul li a{
    text-decoration: none;

}
.footer-2 ul li a:hover{
    color: brown;

}
.footer-2 ul li i{
    color: #d0d4fc;
}
.footer-3 h4{
    font-size: 16px;
    font-weight: bold;
    color: #012970;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;


}
.footer-3 p{
    line-height: 26px;
}
.footer-3 p strong{
    font-weight: bolder;
 
}
.footer-bottom{
    background-color: #f6f9ff;
}
.footer-bottom-flexbox{
    display: flex; */


/* .footer{
    background: black;
}
.footer-1{
    padding: 30px;
    
}
.footer-fkexbox{
    width: 28%;
    

}
.footer-1 h4{
    color: aliceblue;
    padding-bottom: 10px;
    font-size: 20px;

}
.footer-1 p{
    color: aliceblue;
    /* width: 30%; */
/* padding-bottom: 10px;
    line-height: 25px;
    font-size: 15px;
    
}.footer form{
    margin-top: 20px;
    background: #fff;
    padding: 6px 10px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
}
.footer-1 form input[type=email] { 
    padding: 4px 8px;
    width: calc(100%-100px); 

}
.footer-1 form input[type=submit] {
    background: #f03c02;
    color: #fff;
    position: absolute;
    top: 8px;
    right: -4px;
    bottom: opx;
    border: 0px;
    font-size: 16px;
    padding: 0px 11px;
    border-radius:  0 4px 4px 0;
    box-shadow: 0px 2px 15px rgb(0 0 0/ 10%); } */

/* .footer{
    background-color: rgb(219, 193, 193);
    padding: 60px 0 30px 0;
    
}
.footer-flexbox{
    display: flex;
    justify-content: space-around;

}
.footer-1{
    /* width: 25%; */

/* } */
/* .footer-1 h3 {
    font-size: 24px;
    font-weight: 700;

}

.footer-1 p {
    line-height: 25px;


}

.footer-1 strong {
    line-height: 25px;

}

.footer-2 h3 {
    font-size: 16px;
    font-weight: bold;
    color: black;
    position: relative;

}

.footer-2 ul {
    margin-top: 10px;




}

.footer-2 ul li {
    padding: 10px;
    display: flex;
    align-items: center;


}

.footer-2 ul li i {}

.footer-2 ul li i a {
    text-decoration: none;
    transition: 0 3s;
    display: inline-block;
    line-height: 1;
}

.footer-2 ul li i a:hover {
    text-decoration: none;
    color: #106eea;
}

.footer-3 {
    width: 20%;
    text-decoration: none;

}

.footer-3 h3 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
}

.footer-3 p {
    margin-top: 10px;
    line-height: 25px;

}

.footer-3 .link {
    margin-top: 10px;

}

.footer-3 .link a {
    font-size: 18px;
    display: inline-block;
    background: #106eea;
    color: white;
    line-height: 1;
    width: 36px;
    height: 20px;
    padding: 8px 0px;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    transition: 0.3s;
    text-decoration: none;
}

.footer-3 .link a:hover {
    background: #3b8af2;
    color: #fff;
    text-decoration: none;
} */